.bg-body-tertiary {
    background-color: #f8f9fa !important;
}
.card {
    height: 250px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.card-img-top {
    transition: all 0.3s ease;
}
.card:hover .card-img-top {
    transform: scale(1.1);
}
.card-top-section {
    position: absolute;
    overflow: hidden;
    background-color: rgb(255, 255, 255, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20%;
    padding: 10px;
}

.card-top-section h5 {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
}

.card-top-section span {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    margin-right: 10px;
}

.card-title {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card-text {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}
.card-img-overlay:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.card-img-overlay:hover .card-title {
    font-size: 30px;
}
.card-img-overlay:hover .card-text {
    font-size: 20px;
}
.card-img-overlay:hover .btn {
    display: block;
}

.card-exercise {
    display: flex;
    width: 80%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-exercise-stats {
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    width: 30%;
}

.card-exercise-stats p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

.card-exercise-stats span {
    display: block;
    font-size: 30px;
    font-weight: 500;
    padding: 0;
    text-align: center;
}