.header {
    background-color: var(--white-bg-color);
    padding: 15px 20px;
    text-align: center;
}

.header-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-greetings {
    color: var(--dark-text-color);
    font-size: 28px;
    font-weight: 500;
}

.header-subtext {
    color: var(--grey-text-color);
    font-size: 16px;
    font-weight: 400;
    text-align: start;
}

.profile-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}